body {
  color: black;
  font-size: 15px;
  font-weight: 500;
  display: block;
  margin: 0;
  padding: 0;
}

/*ヘッダー*/
.header {
  width: 100%;
  position: absolute;
  padding-bottom: 20px;
  padding-top: 10px;
}

.header-group {
  display: flex;
  justify-content: space-between;
  margin: 0 36px 0 36px;
  max-width: 100%;
  position: relative;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 1080px) {
  .header {
    background-color: white;
    position: fixed;
    z-index: 10;
    padding-top: 15px;
  }
}

@media screen and (max-width: 767px) {
  .header-group {
    max-width: 100%;
    margin: 0 20px;
  }
}

/*ヘッダーロゴ*/
.header-logo {
  display: block;
  height: 20px;
  width: auto;
}

.header-logo-sp {
  display: none;
  height: 15px;
  width: auto;
}

@media screen and (max-width: 767px) {
  .header-logo {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-logo-sp {
    display: block;
  }
}

.header-logo:hover {
  opacity: 0.7;
  color: white;
}

img {
  vertical-align: middle;
}

ul {
  list-style: none;
}

/*ナビメニュー*/
.hamburger {
  display: none;
}

@media screen and (max-width: 1080px) {
  .hamburger {
    cursor: pointer;
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index: 100;
  }
}

@media screen and (max-width: 1080px) {
  .hamburger-line {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000;
    transform: translate(0, -50%);
    border-radius: 10px;
    transition: top 0.2s, transform 0.2s, opacity 0.3s;
  }
}

@media screen and (max-width: 1080px) {
  .hamburger-line:first-child {
    top: 0;
  }
}

@media screen and (max-width: 1080px) {
  .hamburger-line:last-child {
    top: 100%;
  }
}

.header-navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header-navi {
    top: 52px;
  }
}

@media screen and (max-width: 1080px) {
  .header-navi {
    overflow-y: scroll;
    position: fixed;
    top: 60px;
    left: 100%;
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 75px;
    transition: transform 0.5s;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-overflow-scrolling: touch;
    height: 100%;
  }
}
.navi-item {
  margin-right: 45px;
}

@media screen and (max-width: 1080px) {
  .navi-item {
    margin-right: 0;
  }
}

@media screen and (max-width: 1080px) {
  .navi-item:last-of-type {
    margin-top: 20px;
  }
}

.navi-item-a {
  display: block;
  font-weight: 700;
  text-align: center;
  font-size: 13px;
}

.navi-item-a:hover {
  opacity: 0.7;
}

.navi-item-bt-a:hover {
  opacity: 0.7;
  color: white;
}

.navi-item-a-s {
  display: block;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1080px) {
  .navi-item-a {
    padding: 20px 0;
  }
}

.navi-item-bt-a {
  align-items: center;
  background-color: orange;
  border: none;
  border-radius: 35px;
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  width: 100%;
  font-size: 15px;
  height: 40px;
  padding: 0 20px;
}

/*メイン部分*/
@media screen and (max-width: 767px) {
  .firstview {
    background-image: none !important;
    padding-top: 60px !important;
    padding-bottom: 35px;
  }
}

.firstview {
  background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 25px;
}

.firstview-img {
  width: 100%;
}

.firstview-img-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .firstview-img-sp {
    display: block;
  }
}

.firstview-container {
  max-width: 1140px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .firstview-container {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -45vw;
    margin-bottom: 20px;
  }
}
/*メイン部分テキスト*/
.firstview-container-txt {
  width: fit-content;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .firstview-container-txt {
    margin-bottom: 20px;
    width: 100%;
  }
}

.firstview-container-txt-explain {
  color: black;
  font-size: 38px;
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .firstview-container-txt-explain {
    font-size: 25px;
    line-height: 36px;
  }
}

.firstview-container-txt p {
  display: block;
}

/*メイン部分画像*/
.firstview-container-txt-img {
  margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .firstview-container-txt-img {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .firstview-container-txt-img img {
    width: 27.5%;
  }
}

@media screen and (max-width: 767px) {
  .firstview-container-txt-img img:nth-of-type(2) {
    width: 40%;
  }
}

img {
  border: 0;
  vertical-align: middle;
}

/*メイン部分ボタン*/
.firstview-container-txt-bt {
  display: flex;
  margin-bottom: 70px;
}

@media screen and (max-width: 767px) {
  .firstview-container-txt-bt {
    flex-direction: column;
  }
}

.firstview-container-txt-bt a:hover {
  opacity: 0.7;
  color: white;
}

.firstview-container-txt-bt a:first-of-type {
  margin-right: 15px;
  width: 300px;
}

@media screen and (max-width: 767px) {
  .firstview-container-txt-bt a:first-of-type {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.firstview-container-txt-bt a:last-of-type {
  background-color: white;
  border: 1px solid gray;
  color: black;
  width: 175px;
}

@media screen and (max-width: 767px) {
  .firstview-container-txt-bt a:last-of-type {
    height: 45px;
  }
}

@media screen and (max-width: 767px) {
  .firstview-container-txt-bt a {
    font-size: 14px;
    width: 100% !important;
  }
}

.firstview-container-txt-bt a {
  align-items: center;
  background-color: orange;
  border-radius: 35px;
  color: white;
  display: flex;
  font-size: 15px;
  font-weight: 700;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  height: 65px;
}

/*メイン部分米印*/
.kome {
  color: grey;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
}

.kome-a {
  color: grey;
}

/*説明部分*/
.about {
  background-color: orange;
  padding: 45px 0;
}

.explain {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .explain {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .explain {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.explain-txt {
  max-width: 1140px;
}

@media screen and (max-width: 1024px) {
  .explain-txt {
    margin-bottom: 0;
    width: 100%;
  }
}

.explain-txt p {
  color: white;
  font-weight: 900;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .explain-txt p {
    font-size: 30px !important;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .explain-txt p:last-of-type {
    font-size: 15px !important;
    text-align: center;
  }
}

.explain-txt p:first-of-type {
  font-size: 30px;
}

.explain-txt-s {
  font-size: 50px;
}

/*説明部分ボタン*/
.explain-bt {
  width: 250px;
}

@media screen and (max-width: 1024px) {
  .explain-bt {
    margin-top: 40px;
  }
}

.explain-bt a {
  align-items: center;
  border-radius: 35px;
  display: flex;
  font-size: 15px;
  font-weight: 700;
  height: 65px;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  color: orange;
  background-color: white;
  flex-direction: column;
  width: 100%;
}
